@font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 400;
    src: local('Baloo Bhaijaan 2'), url('./fonts/baloo-bhaijaan2-regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 500;
    src: local('Baloo Bhaijaan 2 Medium'), url('./fonts/baloo-bhaijaan2-medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 600;
    src: local('Baloo Bhaijaan 2 Medium'), url('./baloo-bhaijaan2-semi-bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 700;
    src: local('Baloo Bhaijaan 2 Medium'), url('./baloo-bhaijaan2-bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Baloo Bhaijaan 2';
    font-style: normal;
    font-weight: 800;
    src: local('Baloo Bhaijaan 2 Medium'), url('./fonts/baloo-bhaijaan2-extra-bold.ttf') format('truetype');
  }
 