:root {
 
  color-scheme: dark;
  background-color: #A987A8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
    background-color: #BEA5BE; 
    color: white;
}